﻿  
#gameCanvas
{
    width:100%;
    height:100%;
    /*background-color:#EBDCC9;*/
/*    -ms-transition-property: all;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease;
    */
}
#gameArea
{
  display:table;
  position: absolute;
  left:     0;
  top:      0;
  width: 100%; 
  height: 100%; 
  padding: 0; 
  margin: 0 auto; 
  background-color:#000;
  text-align:center;
  
}

#main
{
    display:table-cell; 
    vertical-align:middle;
    width:100%;
    height:80%;    
}

#stats
{
    display:table-row; 
    vertical-align:middle;    
    background-color: #fff; 
    height: 20%; 
    width: 100%;
}
body{
     background:#fff; 
     /*margin:1em;*/ 
     text-align:center; 
}
canvas { 
    display:block; 
    margin:0 auto; 
    background:#fff; 
    border:0px solid #ccc;
    image-rendering: crisp-edges;

}
@font-face{
    font-family: "digitek";
    src: url('http://projectneptune.blob.core.windows.net/dts-fonts/DIGITEK.TTF');
}
@font-face{
    font-family: "Government Agent BB";
    src: url('http://projectneptune.blob.core.windows.net/dts-fonts/GovtAgentBB.ttf') format('truetype'),
         url('http://projectneptune.blob.core.windows.net/dts-fonts/GovtAgentBB.eot') format('opentype');
}
@font-face{
    font-family: "Government Agent BB Ital";
    src: url('http://projectneptune.blob.core.windows.net/dts-fonts/GovtAgentBB_ital.ttf') format('truetype'), 
         url('http://projectneptune.blob.core.windows.net/dts-fonts/GovtAgentBB_ital.eot') format('opentype');
}
@font-face{
    font-family: "FontAwesome";
    src: url('http://projectneptune.blob.core.windows.net/dts-fonts/fontawesome-webfont.eot') format('opentype');
}
/*PT Sans from Google Fonts*/
/*======================Start Google Fonts==================================*/
/*http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic*/

/* cyrillic-ext */
/*@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}*/
/* cyrillic */
/*@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/
/* latin-ext */
/*@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  src: url('http://projectneptune.blob.core.windows.net/dts-fonts/PTSans.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*======================End Google Fonts==================================*/